pymupdf
streamlit
python-pptx
Pillow
requests
frontend
llama-index-core
llama-index-readers-file
llama-index-llms-nvidia
llama-index-embeddings-nvidia
llama-index-vector-stores-milvus
pymilvus
python-pptx
llama_index.vector_stores.chroma
nemoguardrails
python-multipart